/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 220; /* Purple - 250, Brown - 375, Green - 142, SemiDeep-Blue - 220, Pink - 340*/
  --body-color: hsl(var(--hue), 25%, 15%);
  --text-color: #fff;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0;
}

.app-header {
  margin-bottom: 40px;
}

.editor__panel_wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 100px;
  height: 800px;
}

.Editor_panel_title {
  font-size: 34px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.typography_section {
  width: 40%;
  padding: 40px 30px;
  background-color: #fff;
  color: black;
}

.middle_border {
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.test_section {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
  align-items: center;
}

.world {
  font-size: 20px;
}

.select__editor {
  display: flex;
  justify-content: space-between;
}

.editor__panel {
  margin-top: 10px;
  padding: 20px 0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.panel__title {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.reset_btn {
  margin-right: 10px;
}

.panel_body_wrapper {
  padding: 10px 25px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.editor__icon_block {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  cursor: pointer;
}

.world__icon_wrapper,
.edit__icon_wrapper {
  display: flex;
  padding: 5px;
}

.world__icon_wrapper {
  border-right: 1px solid #9e9e9e;
}

.active {
  background-color: #9e9e9e;
}

.dropdown {
  padding: 8px;
  width: 120px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.ranger {
  margin-top: 20px;
}

.desktop__size {
  width: 12px;
  margin-left: 10px;
}

.ranger_flex {
  display: flex;
  justify-content: space-between;
}

.font_size_text {
  display: flex;
  align-items: center;
}

.pixel__dropdown_block {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.dropdown__icon {
  font-size: 20px;
}

.value_block {
  width: 50px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding-left: 5px;
}
